{
	"env": {
		"node": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"extends": [
		"airbnb/base",
		"eslint:recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"plugin:prettier/recommended",
		"prettier"
	],
	"plugins": [
		"@typescript-eslint",
		"import",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"root": true,
	"rules": {
		"semi": "off",
		"no-console": "off",
		"indent": "off",
		"no-plusplus": "off",
		"no-tabs": "off",
		"import/no-import-module-exports": "off",
		"import/no-unresolved": "off",
		"consistent-return": "off",
		"object-curly-newline": "off",
		"linebreak-style": "off",
		"require-jsdoc": "off",
		"import/no-named-as-default": 0,
		"no-undef": 0,
		"no-empty": 0,
		"no-underscore-dangle": "off",
		"no-unused-vars": "warn",
		"no-useless-escape": 1,
		"no-fallthrough": 1,
		"no-extra-boolean-cast": 1,
		"prettier/prettier": [
			"off"
		],
		"end-of-line": "off",
		"arrow-parens": "off",
		"no-mixed-operators": "off",
		"arrow-body-style": "off",
		"function-paren-newline": "off",
		"space-before-function-paren": 0,
		"no-param-reassign": "off",
		"radix": "off",
		"prefer-destructuring": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/ban-types": "off",
		"import/extensions": "off"
	}
}