{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"printWidth": 90,
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"proseWrap": "always",
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 1,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"type",
		"interface",
		"interfaces/",
		"shared/",
		"utils/",
		"controllers/",
		"validations/",
		"middlewares/",
		"models/",
		"routes/",
		"../(.*)",
		"^./(.*)$",
		"^../(.*)$"
	]
}
